<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gajananmotors.shopfinder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".helper.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".activity.AddPostActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/string_shop_post" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/profile" />
        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activity.SplashActivity">

        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize" />
        <!--
            <activity
            android:name=".activity.ItemLocation"
            android:label="@string/title_activity_item_location" />
        -->
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/string_sign_up" />
        <activity
            android:name=".activity.SubCategoryActivity"
            android:label="@string/string_sub_category" />
        <activity
            android:name=".activity.ItemDetailsActivity"
            android:label="@string/string_shop_list" />
        <activity android:name=".tedpicker.ImagePickerActivity" />
        <activity
            android:name=".activity.AllPostsActivity"
            android:label="@string/string_shop_posts" />
        <activity
            android:name=".activity.ViewPostActivity"
            android:label="@string/string_shop_details">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tutsplus" android:host="findashop"/>
                <data android:scheme="http" android:host="www.findashop.in"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GallaryActivity"
            android:label="@string/string_image_gallary" />
        <activity
            android:name=".activity.EditPostActivity"
            android:label="@string/string_update_post" />


    </application>

</manifest>